{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    // This part is required to work with eslint, the rest is already setup to use import
    "import/resolver": {
      "typescript": {}
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
